<!doctype html>
<html class="no-js" lang="" ng-app="Reddilitics">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="/lib/angular-1.4.8/angular.min.js"></script>

        <link href="/javascripts/c3/c3.min.css" rel="stylesheet" type="text/css">
        <script src="/javascripts/c3/d3.min.js" charset="utf-8"></script>
        <script src="/javascripts/c3/c3.min.js" charset="utf-8"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


        <title>Reddilitcs</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sidebar.css" rel="stylesheet">



    </head>
    <body>

        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

    

            <ul class="sidebar-nav">

                    <div class="logo">
                        <img src="images/logo.png" alt="Logo" style="width:130px;height:130px;">
                    </div>


                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="#/index/">Home</a>
                </li>
                <li>
                    <a href="#/user/">User</a>
                </li>
                <li>
                    <a href="#/subreddit/">Subreddit</a>
                </li>
                <li>
                    <a href="#/list/">Whats Hot</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>                                                                                              
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <div ng-view></div>     


        <!-- Page Content -->
        <!-- <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Reddilitics Sample</h1>
                        <p>Reddit's user page lists up to 1,000 comments and submissions and lets you sort by new, top or controversial, but not by old. This makes it difficult or even impossible to see what your first submission or comment on reddit was. If you have fewer than 1,000 posts, you would have to keep clicking the Next button (or if you have RES, keep scrolling), until you reach the end. If you have more than 1,000, you're out of luck — there is just no way to see your first submission or comment.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->


                                

                       
                       <!-- <a href="#menu-toggle"> <i class="fa fa-camera-retro" id="menu-toggle"  ng-click="openMenu()"></i> </a> -->

                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Hide Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script>
    (function(auth_key) {
        localStorage.setItem("auth_key", auth_key);

        console.log(auth_key);
    })('<%= key %>');
    </script>



    <!-- jQuery Version 1.11.1 -->
    <script src="javascripts/bootstrap/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap//bootstrap.min.js"></script>        
        
        <script src="/lib/angular-1.4.8/angular-route.js"></script>
        <script src="/javascripts/app.js"></script>

        <script src="/javascripts/controllers/indexController.js"></script>
        <script src="/javascripts/controllers/subredditController.js"></script>
        <script src="/javascripts/controllers/userController.js"></script>
        <script src="/javascripts/controllers/listController.js"></script>
        <script src="/javascripts/Services/redditService.js"></script>

        <script src="/javascripts/c3/myC3.js" charset="utf-8"></script>
    </body>
</html>



